<!DOCTYPE html>
<html>
    {{>header}}
    <body>
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#"><strong>HUNT VCU</strong></a>
            {{!-- <button id="show3" class="navebar-toggler top-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><strong>Game Settings</strong></button>
            <button id="show" class="navebar-toggler top-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><strong>Profile Settings</strong></button> --}}
            <button id="show2" class="navebar-toggler top-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><strong>Help</strong></button>
        </nav>

        <div class="center hideform">
            <button id="close" style="float: right;">X</button>
                <form>
                <input type="text" name="firstname" value="Username">
                <input type="text" name="lastname" value="Password">
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="center2 hideform">
            <button id="close2" style="float: right;">X</button>
                <div>
                    <h1>Welcome to HUNT VCU!</h1>
                    <p>
                        This application is made to help incoming students learn VCU's campus virtually by
                        simulating a scavenger hunt. If you find you aren't doing well in the scavenger hunt, 
                        try a virtual campus tour <a target="_blank" href="https://www.vcu.edu/admissions/visit-vcu/">here</a> 
                        by clicking Virtual Tour on the left on VCU's page. After the tour, come back to try and complete the hunt!
                    </p>
                    <h3>How to play:</h3>
                    <p>
                        To get started, click a spot under objectives to reveal a picture clue on the left
                        and a radius on the map on the right for a hint. When you know the location,
                        type your answer in the answer box at the bottom right below the spots and press 'Enter Answer'.
                        The app will tell you if you're right or wrong. Continue by clicking on another spot. 
                        Look at the progress bar at the very bottom to see how far along you are.
                    </p>
                    <p style="font-size: 12px">Developed by A.N.A RAMZ (formerly SCAM RAMZ)</p>
                </div>
            </form>
        </div>

        <div class="center3 hideform">
            <button id="close3" style="float: right;">X</button>
                <div>Here is the game settings page. It is currently under development.</div>
            </form>
        </div>
    
        <div class = "row main-panel">
            <div class="col-md-6 top-left">
                {{!-- <div id="top-left-panel">
                    <h1><strong>Current Location</strong></h1>
                    <div id='map' style='width: 100%; height: 500px;'></div>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button id="enter-answer" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-secondary" type="button"><strong>Enter Answer</strong></button>
                            </div>
                            <input id="answer-box" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div> --}}

                <div>
                    <h1 id="top-right-text"><strong>Clue images/maps pop up here</strong></h1>
                    <div><img src="/Logos.png" id="mapclue"></div>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"></div>
                            <div></div>
                        </div>
                    </div>
                    <div id="clue"><strong>Clues pop up here</strong></div>
                </div>
            </div>

            <div class="col-md-6 top-right">
                {{!-- <div>
                    <h1 id="top-right-text"><strong>Clue images/maps pop up here</strong></h1>
                    <div><img src="/Logos.png" style='width: 436px; height: 500px' id="mapclue"></div>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"></div>
                            <div></div>
                        </div>
                    </div>
                    <div id="clue"><strong>Clues pop up here</strong></div>
                </div> --}}

                {{!-- <div id="top-left-panel">
                    <h1><strong>Current Location</strong></h1>
                    <div id='map' style='width: 100%; height: 500px;'></div>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button id="enter-answer" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-secondary" type="button"><strong>Enter Answer</strong></button>
                            </div>
                            <input id="answer-box" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div> --}}
                <div>
                    <h1><strong>Current Location</strong></h1>
                    <div id='map' style='width: 100%; height: 290px;'></div>
                    
                </div>
                <div class="panel panel-primary" id="result_panel">
                    <div class="panel-heading"><h1 class="panel-title"><strong>Objectives</strong></h1></div>
                    <h2 class="final" id="final1">Click a spot to reveal a clue!</h2>
                    <div class="final" id="final2">If you think you know where the spot is, type it below.</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li id="s1" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 1</strong></button></li>
                            <li id="s2" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 2</strong></button></li>
                            <li id="s3" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 3</strong></button></li>
                            <li id="s4" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 4</strong></button></li>
                            <li id="s5" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 5</strong></button></li>
                            <li id="s6" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 6</strong></button></li>
                            <li id="s7" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 7</strong></button></li>
                            <li id="s8" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 8</strong></button></li>
                            <li id="s9" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 9</strong></button></li>
                            <li id="s10" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 10</strong></button></li>
                            <li id="s11" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 11</strong></button></li>
                            <li id="s12" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 12</strong></button></li>
                            <li id="s13" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 13</strong></button></li>
                            <li id="s14" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 14</strong></button></li>
                            <li id="s15" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 15</strong></button></li>
                            <li id="s16" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 16</strong></button></li>
                            <li id="s17" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 17</strong></button></li>
                            <li id="s18" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 18</strong></button></li>
                            <li id="s19" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 19</strong></button></li>
                            <li id="s20" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 20</strong></button></li>
                            <li id="s21" class="list-group-item"><button class="btn obj-btn btn-block"><strong>Spot 21</strong></button></li>
                        </ul>
                    </div>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <input id="answer-box" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                <button id="enter-answer" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-secondary" type="button"><strong>Enter Answer</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb">
            <div class="col-sm-12 cp">
                <text id="cp-text"><strong>Current Progress</strong></text>
            </div>
            <div class="col-sm-12 pb">
                <div class="progress">
                    <div class="progress-bar" id="progress-bar"><text id="progress-bar-text">0%</text></div>
                </div>
            </div>
        </div>

        <!-- modal -->
        {{>modal}}

        <script src='/js/map.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            $('#show').on('click', function () {
                $('.center').show();
                //$(this).hide();
            })

            $('#close').on('click', function () {
                $('.center').hide();
                $('#show').show();
            })
            $('#show2').on('click', function () {
                $('.center2').show();
                //$(this).hide();
            })

            $('#close2').on('click', function () {
                $('.center2').hide();
                $('#show').show();
            })
            $('#show3').on('click', function () {
                $('.center3').show();
                //$(this).hide();
            })

            $('#close3').on('click', function () {
                $('.center3').hide();
                //$('#show').show();
            })
        </script>
        <script src="/js/objtracker.js"></script>
    </body>
</html>
