#main-application, #main-application-extension { 
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: table; 
    width: 100%;
    background-color: #FFFFFF;
}

#enter-answer {
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    border-color: rgb(190, 190, 190);
    border-radius: 1px;
    border-width: 1px; 
    color: #000000;
    background: -moz-linear-gradient(-45deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    background: -webkit-linear-gradient(-45deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    background: linear-gradient(135deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    height: 92%;
}

.obj-btn {
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    background: -moz-linear-gradient(-45deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    background: -webkit-linear-gradient(-45deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    background: linear-gradient(135deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    height: 92%;
}

.obj-btn:hover{
    color: #FFFFFF; 
}

#enter-answer:hover{
    color: #FFFFFF; 
}

#answer-box {
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    border-color: rgb(190, 190, 190);
    border-radius: 5px;
    border-width: 1px; 
}

#mapclue {
    margin:auto; 
}

.top-button {
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    color: #000000;
    border-radius: 5px;
    border-width: 3px;
    /* Button Implementation
    border-color: #FFFFFF;
    background: -moz-linear-gradient(-45deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    background: -webkit-linear-gradient(-45deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    background: linear-gradient(135deg, #FFBA00 0%, #F7D214 30%, #FCF029 70%);
    */
    color: #FFFFFF;
    border-color: #000000;
    background: #000000;
    margin:auto; 
}

.top-button:hover{
    /* Button Implementation
    color: #FFFFFF;
    */
    color: #FFBA00;
    
}

.navbar {
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    background-color: #000000;
    text-shadow: 
    -1px -1px 0 #F5F5F5,
    1px -1px 0 #F5F5F5,
    -1px 1px 0 #F5F5F5,
    1px 1px 0 #F5F5F5; 
    margin-bottom: 30px;
}

.main-panel {
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    position: relative;
    margin-left: 100%;
    width: 50%;
    padding: 1%; 
    border-style: solid;
    border-color: #FFBA00; 

    display: table-cell;
}

.bottom-main-panel {
    font-family: "Roboto", Arial, "Helvetica Neue", "Lucida Grande", Helvetica, sans-serif;
    position: relative;
    margin-top: 10%;
    width: 48.5%;
    padding: 1%; 
    border-style: solid;
    border-color: #FFBA00; 
    display: table-cell;
    overflow:hidden;
    vertical-align:top;
}

#main-application:after {
    display:inline-block;
    width:100%;
    content:'';
}

.container {
    display: none;
    margin: 10px auto;
    width: 400px;
    text-align: center;
}
  
.container .progress {
    margin: 0 auto;
    width: 400px;
}
  
.progress {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
  
.progress-bar {
    height: auto;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
  
#one:checked ~ .progress > .progress-bar {
    width: 1%;
    background-color: #FF0000;
}

#ten:checked ~ .progress > .progress-bar {
    width: 10%;
    background-color: #FF3300;
}

#twenty:checked ~ .progress > .progress-bar {
    width: 20%;
    background-color: #FF6600;
}

#thirty:checked ~ .progress > .progress-bar {
    width: 30%;
    background-color: #FF9900;
}

#forty:checked ~ .progress > .progress-bar {
    width: 40%;
    background-color: #FFCC00;
}

#fifty:checked ~ .progress > .progress-bar {
    width: 50%;
    background-color: #FFFF00;
}

#sixty:checked ~ .progress > .progress-bar {
    width: 60%;
    background-color: #CCFF00;
}

#seventy:checked ~ .progress > .progress-bar {
    width: 70%;
    background-color: #99FF00;
}

#eighty:checked ~ .progress > .progress-bar {
    width: 80%;
    background-color: #66FF00;
}

#ninety:checked ~ .progress > .progress-bar {
    width: 90%;
    background-color: #33FF00;
}

#onehundred:checked ~ .progress > .progress-bar {
    width: 100%;
    background-color: #00FF00;
}

.radio {
    display: none;
}

#progress-bar-text {
    color: #000000;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.center, .center2, .center3 {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}
